In [1]:
print("Hello World")

Hello World

In [3]:
#We will be learning the basics of python in this notebook.

First let us begin with variable.

Variable

# Variable

In [4]:
a = 10

In [5]:
a

10

In [6]:
b = 20
b

20

In [10]:
name = "Kaushik"

In [11]:
name

'Kaushik'

In [12]:
x = 15
y = 12
z = x+y
z

27

In [13]:
x*y

180

In [14]:
k = 18
k = 3
k

3

# Rules of naming a variable

* A variable name cannot contain a space.

* The name of the variable cannot start with a number.

* Variable name cannot contain dot.

* A varaible name cannot contain special characters, the only special character which we can use is the underscore _

* Python is case sensitive.

In [15]:
first name = 'Kaushik'

SyntaxError: invalid syntax (<ipython-input-15-53c0d58e654d>, line 1)

In [16]:
firstname='Kaushik'

In [17]:
1name = 'k'

SyntaxError: invalid syntax (<ipython-input-17-999449d38372>, line 1)

In [18]:
name1 = 'k'

In [19]:
first.name ='k'

NameError: name 'first' is not defined

In [21]:
first&name = 'k'

SyntaxError: cannot assign to operator (<ipython-input-21-a1bb62a1df19>, line 1)

In [23]:
first_name = 'K'
first_name

'K'

In [24]:
name = 'Kaushik'
Name

NameError: name 'Name' is not defined

In [25]:
CITY ='Delhi'

In [27]:
CITY

'Delhi'

In [30]:
x = 20
y = 10
z = 5
x
z
y

10

In [29]:
x = 20
y = 10
z = 5
print(x)
print(y)
print(z)

20
10
5

In [34]:
# I want to store the employee names
emp_name = 'Kaushik'
emp_name = 'Amit'
emp_name

'Amit'

# List

List is an object where we can store multiple items under a single name. To create a List we would use
a []

In [35]:
emp_name = ['Kaushik','Amit','Suba','Stephen','Ashwini']
emp_name

['Kaushik', 'Amit', 'Suba', 'Stephen', 'Ashwini']

In [36]:
emp_age = [10,12,13,14,15]
emp_age

[10, 12, 13, 14, 15]

In [37]:
emp = ['Kaushik','Chennai','KPMG',15]
emp

['Kaushik', 'Chennai', 'KPMG', 15]

In [38]:
emp_name

['Kaushik', 'Amit', 'Suba', 'Stephen', 'Ashwini']

In [40]:
# If we want to extract a single element from a list, we can use the index
emp_name[2]

'Suba'

In [41]:
emp_name[0]

'Kaushik'

In [42]:
emp_name[4]

'Ashwini'

In [43]:
emp_name[-1]

'Ashwini'

In [44]:
emp_name[-2]

'Stephen'

In [50]:
#If we want to extract the first 3 elements
emp_name[0:3]

['Kaushik', 'Amit', 'Suba']

In [46]:
emp_name[1:4]

['Amit', 'Suba', 'Stephen']

In [51]:
emp_name

['Kaushik', 'Amit', 'Suba', 'Stephen', 'Ashwini']

In [52]:
# To count the number of elements in the list we can use the len function
len(emp_name)

5

In [53]:
emp_name[2]

'Suba'

In [54]:
emp_name.index('Suba')

2

In [55]:
#Replacing an element in a list
emp_name

['Kaushik', 'Amit', 'Suba', 'Stephen', 'Ashwini']

In [57]:
emp_name[4] = "Nayana"

In [58]:
emp_name

['Kaushik', 'Amit', 'Suba', 'Stephen', 'Nayana']

In [59]:
emp_name[3] = 'Pranab'

In [60]:
emp_name

['Kaushik', 'Amit', 'Suba', 'Pranab', 'Nayana']

In [61]:
# Adding elements to the list
emp_name[5] = 'Akshay'

IndexError: list assignment index out of range

In [62]:
# If we want to add an element at the end of the list, we can use the append function
emp_name.append('Akshay')

In [63]:
emp_name

['Kaushik', 'Amit', 'Suba', 'Pranab', 'Nayana', 'Akshay']

In [65]:
# To add elements in middle of the list, we can use the insert function.
# I want to add an element between Suba and Pranab
emp_name.insert(3,'Prem')

In [66]:
emp_name

['Kaushik', 'Amit', 'Suba', 'Prem', 'Pranab', 'Nayana', 'Akshay']

In [67]:
del emp_name[3]

In [68]:
emp_name

['Kaushik', 'Amit', 'Suba', 'Pranab', 'Nayana', 'Akshay']

In [69]:
del emp_name[3]
emp_name.insert(3,'Prem')
emp_name

['Kaushik', 'Amit', 'Suba', 'Prem', 'Nayana', 'Akshay']

# Dictionary

Dictionary is a data structure where we can store the values in the form of key-value pair. To create a dictionary we would use the {}

In [70]:
emp_details = {'emp_name':['Kaushik','Amit','Suba','Pranab']}

In [71]:
emp_details

{'emp_name': ['Kaushik', 'Amit', 'Suba', 'Pranab']}

In [75]:
emp_details = {'emp_name':['Kaushik','Amit','Suba','Pranab'],
              'emp_age':[20,21,22,23],
              'emp_location':['Chennai','Delhi','Coimbatore','Pune'],
              'emp_salary':[100,200,300,400]}

In [73]:
emp_details

{'emp_name': ['Kaushik', 'Amit', 'Suba', 'Pranab'],
 'emp_age': [20, 21, 22, 23],
 'emp_location': ['Chennai', 'Delhi', 'Coimbatore', 'Pune'],
 'emp_salary': [100, 200, 300, 400]}

In [80]:
emp_details = {'emp_name':['Kaushik','Amit','Suba','Pranab'],
              'emp_age':[20,21,22,23],
              'emp_location':['Chennai','Delhi','Coimbatore','Pune','Mumbai'],
              'emp_salary':[100,200,300,400]}
emp_details

{'emp_name': ['Kaushik', 'Amit', 'Suba', 'Pranab'],
 'emp_age': [20, 21, 22, 23],
 'emp_location': ['Chennai', 'Delhi', 'Coimbatore', 'Pune', 'Mumbai'],
 'emp_salary': [100, 200, 300, 400]}

In [76]:
emp_details[2]

KeyError: 2

In [77]:
emp_details = {'emp_name':['Kaushik','Amit','Suba','Pranab'],
              'emp_age':[20,21,22,23],
              24:['Chennai','Delhi','Coimbatore','Pune','Mumbai'],
              'emp_salary':[100,200,300,400]}
emp_details

{'emp_name': ['Kaushik', 'Amit', 'Suba', 'Pranab'],
 'emp_age': [20, 21, 22, 23],
 24: ['Chennai', 'Delhi', 'Coimbatore', 'Pune', 'Mumbai'],
 'emp_salary': [100, 200, 300, 400]}

In [78]:
emp_details[24]

['Chennai', 'Delhi', 'Coimbatore', 'Pune', 'Mumbai']

In [79]:
emp_details['emp_salary']

[100, 200, 300, 400]

In [82]:
emp_details['emp_location'][2]

'Coimbatore'

In [90]:
emp_details = {'emp_name':['Kaushik','Amit','Suba','Pranab'],
              'emp_age':[20,21,22,23],
              'emp_location':['Chennai','Delhi','Coimbatore','Pune'],
              'emp_salary':[100,200,300,400]}
emp_details

{'emp_name': ['Kaushik', 'Amit', 'Suba', 'Pranab'],
 'emp_age': [20, 21, 22, 23],
 'emp_location': ['Chennai', 'Delhi', 'Coimbatore', 'Pune'],
 'emp_salary': [100, 200, 300, 400]}

# Dataframe

In [85]:
#To work with dataframe we need a package called as pandas
import pandas

In [91]:
emp_df = pandas.DataFrame(emp_details)

In [92]:
emp_df

  emp_name  emp_age emp_location  emp_salary
0  Kaushik       20      Chennai         100
1     Amit       21        Delhi         200
2     Suba       22   Coimbatore         300
3   Pranab       23         Pune         400

# DataFrame